* {
  box-sizing: border-box;
}

h1 {
  color: rgb(212, 212, 212);
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0%;
  font-size: 350%;
}

body {
  background-color: dimgrey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

